body{
    background-image: url(asta-black-clover-3840x2743-11219.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
}
.dEmo{
    background-color: antiquewhite;
    margin-top: 150px;
    margin-left: 300px;
    margin-right: 600px;
    margin-bottom: 150px;
    font-size: x-large;
    text-align: center;
    
}