body{
    background-image: url(megamenu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: aliceblue;
    margin-top: 200px;
    margin-left: 900px;
}
.image{
position:relative;
right: -25px;
bottom: 50px;
z-index:10;
}
.image1{
 position:relative;
right: -35px;
bottom:60px;
 z-index:5;
}
.image2{
   position:fixed;
   right: 600px;
   top: 80px;
   z-index:10;
}
img{
    height:300px;
    width:300px;
    margin-top: 50px;
}
